<div>
    <script src="/file/global/js/lib/jquery.js"></script>
    <input type="file" name="file" id='uploadFile'>
    <div id="cl" style="height: 50px; width: 50px;background-color: #ccc;line-height: 50px;text-align: center;">
        upup
    </div>
<script src="/file/global/js/lib/uploadFile.js"></script>
<script>
    $('#cl').on('click', function () {
        $.main({
            fileId: 'uploadFile',
            data: {
                loanRequestId: '8306E53C-1E25-4F83-85EA-A4790FB4ABAD',
                name: 'vv'
            },
            // dataType: 'json',
            url: 'http://localhost:4007/api/upload',
            // url: 'https://htkg.uats.cc/api/v2/loan/uploadTemplate',
            success: function (data, status) {
                console.log('@@@', data)
            }
        })    
    })
    
</script>
</div>