<div>
    <link rel="stylesheet" href='/file/login/css/index.css'>
    <div id="zz"></div>
        航天科工—渤海托管相关接口

注：以下为接口预定义，接口的实现尚需与渤海银行进行联调，故现在没有数据返回。仅供前端同事开发参考。（2016-07-28）
1. 开户查询接口：
Method:     POST
Path:       /api/v2/payment/acct/info
Params:     userId  用户ID
            idNumber    客户身份证号
            amount 投资金额
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    " acctId ": "bohai-acct-id"
                },
                "error": [],
    "success": true  (false则表示未开户)
}

2. 开户页面跳转接口：
Method:     POST
Path:       /api/v2/payment/acct/register/forward
Params:     userId  用户ID
            idNumber    客户身份证号
            username客户姓名
            address 客户地址
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

3. 投资跳转接口：
Method:     POST
Path:       /api/v2/payment/tender/forward
Params:     userId  用户ID
            loanId  标的ID
            amount 投资金额
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

4. 充值页面跳转接口：
Method:     POST
Path:       /api/v2/payment/acct/recharge/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

5. 取现页面跳转接口：
Method:     POST
Path:       /api/v2/payment/acct/withdraw/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

6. 换卡页面跳转接口：
Method:     POST
Path:       /api/v2/payment/card/change/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

7. 修改密码页面跳转接口：
Method:     POST
Path:       /api/v2/payment/password/set/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

8. 查询余额页面跳转接口：
Method:     POST
Path:       /api/v2/payment/acct/amount/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

9. 查询余额接口：
Method:     POST
Path:       /api/v2/payment/acct/amount/query
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "availableAmount": "1266.32"
                },
                "error": [],
    "success": true
}
 航天科工—渤海托管相关接口

注：以下为接口预定义，接口的实现尚需与渤海银行进行联调，故现在没有数据返回。仅供前端同事开发参考。（2016-07-28）
1. 开户查询接口：
Method:     POST
Path:       /api/v2/payment/acct/info
Params:     userId  用户ID
            idNumber    客户身份证号
            amount 投资金额
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    " acctId ": "bohai-acct-id"
                },
                "error": [],
    "success": true  (false则表示未开户)
}

2. 开户页面跳转接口：
Method:     POST
Path:       /api/v2/payment/acct/register/forward
Params:     userId  用户ID
            idNumber    客户身份证号
            username客户姓名
            address 客户地址
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

3. 投资跳转接口：
Method:     POST
Path:       /api/v2/payment/tender/forward
Params:     userId  用户ID
            loanId  标的ID
            amount 投资金额
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

4. 充值页面跳转接口：
Method:     POST
Path:       /api/v2/payment/acct/recharge/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

5. 取现页面跳转接口：
Method:     POST
Path:       /api/v2/payment/acct/withdraw/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

6. 换卡页面跳转接口：
Method:     POST
Path:       /api/v2/payment/card/change/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

7. 修改密码页面跳转接口：
Method:     POST
Path:       /api/v2/payment/password/set/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

8. 查询余额页面跳转接口：
Method:     POST
Path:       /api/v2/payment/acct/amount/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

9. 查询余额接口：
Method:     POST
Path:       /api/v2/payment/acct/amount/query
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "availableAmount": "1266.32"
                },
                "error": [],
    "success": true
}
 航天科工—渤海托管相关接口

注：以下为接口预定义，接口的实现尚需与渤海银行进行联调，故现在没有数据返回。仅供前端同事开发参考。（2016-07-28）
1. 开户查询接口：
Method:     POST
Path:       /api/v2/payment/acct/info
Params:     userId  用户ID
            idNumber    客户身份证号
            amount 投资金额
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    " acctId ": "bohai-acct-id"
                },
                "error": [],
    "success": true  (false则表示未开户)
}

2. 开户页面跳转接口：
Method:     POST
Path:       /api/v2/payment/acct/register/forward
Params:     userId  用户ID
            idNumber    客户身份证号
            username客户姓名
            address 客户地址
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

3. 投资跳转接口：
Method:     POST
Path:       /api/v2/payment/tender/forward
Params:     userId  用户ID
            loanId  标的ID
            amount 投资金额
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

4. 充值页面跳转接口：
Method:     POST
Path:       /api/v2/payment/acct/recharge/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

5. 取现页面跳转接口：
Method:     POST
Path:       /api/v2/payment/acct/withdraw/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

6. 换卡页面跳转接口：
Method:     POST
Path:       /api/v2/payment/card/change/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

7. 修改密码页面跳转接口：
Method:     POST
Path:       /api/v2/payment/password/set/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

8. 查询余额页面跳转接口：
Method:     POST
Path:       /api/v2/payment/acct/amount/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

9. 查询余额接口：
Method:     POST
Path:       /api/v2/payment/acct/amount/query
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "availableAmount": "1266.32"
                },
                "error": [],
    "success": true
}
 航天科工—渤海托管相关接口

注：以下为接口预定义，接口的实现尚需与渤海银行进行联调，故现在没有数据返回。仅供前端同事开发参考。（2016-07-28）
1. 开户查询接口：
Method:     POST
Path:       /api/v2/payment/acct/info
Params:     userId  用户ID
            idNumber    客户身份证号
            amount 投资金额
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    " acctId ": "bohai-acct-id"
                },
                "error": [],
    "success": true  (false则表示未开户)
}

2. 开户页面跳转接口：
Method:     POST
Path:       /api/v2/payment/acct/register/forward
Params:     userId  用户ID
            idNumber    客户身份证号
            username客户姓名
            address 客户地址
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

3. 投资跳转接口：
Method:     POST
Path:       /api/v2/payment/tender/forward
Params:     userId  用户ID
            loanId  标的ID
            amount 投资金额
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

4. 充值页面跳转接口：
Method:     POST
Path:       /api/v2/payment/acct/recharge/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

5. 取现页面跳转接口：
Method:     POST
Path:       /api/v2/payment/acct/withdraw/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

6. 换卡页面跳转接口：
Method:     POST
Path:       /api/v2/payment/card/change/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

7. 修改密码页面跳转接口：
Method:     POST
Path:       /api/v2/payment/password/set/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

8. 查询余额页面跳转接口：
Method:     POST
Path:       /api/v2/payment/acct/amount/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

9. 查询余额接口：
Method:     POST
Path:       /api/v2/payment/acct/amount/query
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "availableAmount": "1266.32"
                },
                "error": [],
    "success": true
}
 航天科工—渤海托管相关接口

注：以下为接口预定义，接口的实现尚需与渤海银行进行联调，故现在没有数据返回。仅供前端同事开发参考。（2016-07-28）
1. 开户查询接口：
Method:     POST
Path:       /api/v2/payment/acct/info
Params:     userId  用户ID
            idNumber    客户身份证号
            amount 投资金额
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    " acctId ": "bohai-acct-id"
                },
                "error": [],
    "success": true  (false则表示未开户)
}

2. 开户页面跳转接口：
Method:     POST
Path:       /api/v2/payment/acct/register/forward
Params:     userId  用户ID
            idNumber    客户身份证号
            username客户姓名
            address 客户地址
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

3. 投资跳转接口：
Method:     POST
Path:       /api/v2/payment/tender/forward
Params:     userId  用户ID
            loanId  标的ID
            amount 投资金额
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

4. 充值页面跳转接口：
Method:     POST
Path:       /api/v2/payment/acct/recharge/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

5. 取现页面跳转接口：
Method:     POST
Path:       /api/v2/payment/acct/withdraw/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

6. 换卡页面跳转接口：
Method:     POST
Path:       /api/v2/payment/card/change/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

7. 修改密码页面跳转接口：
Method:     POST
Path:       /api/v2/payment/password/set/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

8. 查询余额页面跳转接口：
Method:     POST
Path:       /api/v2/payment/acct/amount/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

9. 查询余额接口：
Method:     POST
Path:       /api/v2/payment/acct/amount/query
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "availableAmount": "1266.32"
                },
                "error": [],
    "success": true
}
 航天科工—渤海托管相关接口

注：以下为接口预定义，接口的实现尚需与渤海银行进行联调，故现在没有数据返回。仅供前端同事开发参考。（2016-07-28）
1. 开户查询接口：
Method:     POST
Path:       /api/v2/payment/acct/info
Params:     userId  用户ID
            idNumber    客户身份证号
            amount 投资金额
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    " acctId ": "bohai-acct-id"
                },
                "error": [],
    "success": true  (false则表示未开户)
}

2. 开户页面跳转接口：
Method:     POST
Path:       /api/v2/payment/acct/register/forward
Params:     userId  用户ID
            idNumber    客户身份证号
            username客户姓名
            address 客户地址
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

3. 投资跳转接口：
Method:     POST
Path:       /api/v2/payment/tender/forward
Params:     userId  用户ID
            loanId  标的ID
            amount 投资金额
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

4. 充值页面跳转接口：
Method:     POST
Path:       /api/v2/payment/acct/recharge/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

5. 取现页面跳转接口：
Method:     POST
Path:       /api/v2/payment/acct/withdraw/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

6. 换卡页面跳转接口：
Method:     POST
Path:       /api/v2/payment/card/change/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

7. 修改密码页面跳转接口：
Method:     POST
Path:       /api/v2/payment/password/set/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

8. 查询余额页面跳转接口：
Method:     POST
Path:       /api/v2/payment/acct/amount/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

9. 查询余额接口：
Method:     POST
Path:       /api/v2/payment/acct/amount/query
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "availableAmount": "1266.32"
                },
                "error": [],
    "success": true
}
 航天科工—渤海托管相关接口

注：以下为接口预定义，接口的实现尚需与渤海银行进行联调，故现在没有数据返回。仅供前端同事开发参考。（2016-07-28）
1. 开户查询接口：
Method:     POST
Path:       /api/v2/payment/acct/info
Params:     userId  用户ID
            idNumber    客户身份证号
            amount 投资金额
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    " acctId ": "bohai-acct-id"
                },
                "error": [],
    "success": true  (false则表示未开户)
}

2. 开户页面跳转接口：
Method:     POST
Path:       /api/v2/payment/acct/register/forward
Params:     userId  用户ID
            idNumber    客户身份证号
            username客户姓名
            address 客户地址
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

3. 投资跳转接口：
Method:     POST
Path:       /api/v2/payment/tender/forward
Params:     userId  用户ID
            loanId  标的ID
            amount 投资金额
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

4. 充值页面跳转接口：
Method:     POST
Path:       /api/v2/payment/acct/recharge/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

5. 取现页面跳转接口：
Method:     POST
Path:       /api/v2/payment/acct/withdraw/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

6. 换卡页面跳转接口：
Method:     POST
Path:       /api/v2/payment/card/change/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

7. 修改密码页面跳转接口：
Method:     POST
Path:       /api/v2/payment/password/set/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

8. 查询余额页面跳转接口：
Method:     POST
Path:       /api/v2/payment/acct/amount/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

9. 查询余额接口：
Method:     POST
Path:       /api/v2/payment/acct/amount/query
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "availableAmount": "1266.32"
                },
                "error": [],
    "success": true
}
 航天科工—渤海托管相关接口

注：以下为接口预定义，接口的实现尚需与渤海银行进行联调，故现在没有数据返回。仅供前端同事开发参考。（2016-07-28）
1. 开户查询接口：
Method:     POST
Path:       /api/v2/payment/acct/info
Params:     userId  用户ID
            idNumber    客户身份证号
            amount 投资金额
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    " acctId ": "bohai-acct-id"
                },
                "error": [],
    "success": true  (false则表示未开户)
}

2. 开户页面跳转接口：
Method:     POST
Path:       /api/v2/payment/acct/register/forward
Params:     userId  用户ID
            idNumber    客户身份证号
            username客户姓名
            address 客户地址
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

3. 投资跳转接口：
Method:     POST
Path:       /api/v2/payment/tender/forward
Params:     userId  用户ID
            loanId  标的ID
            amount 投资金额
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

4. 充值页面跳转接口：
Method:     POST
Path:       /api/v2/payment/acct/recharge/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

5. 取现页面跳转接口：
Method:     POST
Path:       /api/v2/payment/acct/withdraw/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

6. 换卡页面跳转接口：
Method:     POST
Path:       /api/v2/payment/card/change/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

7. 修改密码页面跳转接口：
Method:     POST
Path:       /api/v2/payment/password/set/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

8. 查询余额页面跳转接口：
Method:     POST
Path:       /api/v2/payment/acct/amount/forward
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "AccessToken": "test-access-token",
                    "NextPageUrl": "http://testurl.next.page"
                },
                "error": [],
    "success": true
}

9. 查询余额接口：
Method:     POST
Path:       /api/v2/payment/acct/amount/query
Params:     userId  用户ID 
            ip  用户IP
deviceType  设备类型（取值：PC | MOBILE，默认值为PC）
Return:     
            {
                "data" : {
                    "availableAmount": "1266.32"
                },
                "error": [],
    "success": true
}


    <script src='/file/login/js/main/index.js'></script>
</div>